:root {
  --size: 100px;
}
.bulb {
  border-radius: 50%;
  border: 2px solid #017247;
  background: #ffa600;
  width: var(--size);
  height: var(--size);
  transition: all 0.8s;
}

.bulb_active {
  --size: 150px;
  border-radius: 0;
  border-color: red;
  background-color: red;
  transform: translate(300px, 300px) rotate(90deg);
  box-shadow: 1px 1px 1px 1px black;
}
