.preview {
  width: 400px;
  border: 1px solid red;
}

.preview__content {
  height: 0;
  visibility: hidden;
}

.preview__content_expand {
  height: auto;
  visibility: visible;
}

.text-wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.text-wrapper > h2 {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
